@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
    padding: 1em;
}
.logo-header{
    margin-bottom: 1em;
}
.flex{
    display: flex;
    justify-content: space-between;
}

.border{
    border: 2px solid red;
}
.align_center{
    align-items: center;

}

.width-60{
    width: 60%;
}
